doctype html
//
  Template Name: Oleald
  Author: <a href="https://www.os-templates.com/">OS Templates</a>
  Author URI: https://www.os-templates.com/
  Licence: Free to use under our free template licence terms
  Licence URI: https://www.os-templates.com/template-terms
// To declare your language - read more here: https://www.w3.org/International/questions/qa-html-language-declarations
head
  title Kiran Foundation
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
  link(href='/styles/layout.css' rel='stylesheet' type='text/css' media='all')
// ################################################################################################
// ################################################################################################
// ################################################################################################
// Top Background Image Wrapper
.bgded.overlay.light(style="background-image:url('/demo/backgrounds/download.jpeg');")
  // ################################################################################################
  .wrapper.row0
    #topbar.hoc.clear
      // ################################################################################################
      .fl_right
        // ################################################################################################
        ul.nospace
          li
            i.fa.fa-phone
            |  +91 860 170 0251
          li
            i.fa.fa-envelope-o
            |  info@kiranfoundation.co.in
        // ################################################################################################
      
        // ################################################################################################
        
        // ################################################################################################
      // ################################################################################################
  // ################################################################################################
  // ################################################################################################
  // ################################################################################################
  .wrapper.row1
    header#header.hoc.clear
      // ################################################################################################
      #logo.fl_left
        h1
          a(href='index.html') KIRAN FOUNDATION
      nav#mainav.fl_right
        ul.clear
          li.active
            a(href='/') Home
          li
            a.drop(href='#') Pages
            ul
              li
                a(href='/links/gallery') Gallery
              li
                a(href='/links/full-width') Full Width
              li
                a(href='/links/sidebar-left') Sidebar Left
              li
                a(href='/links/sidebar-right') Sidebar Right
              li
                a(href='/links/basic-grid') Basic Grid
          li
            a.drop(href='#') Dropdown
            ul
              li
                a(href='#') Level 2
              li
                a.drop(href='#') Level 2 + Drop
                ul
                  li
                    a(href='#') Level 3
                  li
                    a(href='#') Level 3
                  li
                    a(href='#') Level 3
              li
                a(href='#') Level 2
          li
            a(href='#') Link Text
          li
            a(href='#') Link Text
      // ################################################################################################
  // ################################################################################################
  // ################################################################################################
  // ################################################################################################
  #pageintro.hoc.clear
    // ################################################################################################
    article
      h3.heading
        | Kiran Foundation
        br
        |         We Care | Helping Lives
      p
        | Saving preserving and promoting humanity
      footer
        a.btn(href='#') About Us
    // ################################################################################################
  // ################################################################################################
// End Top Background Image Wrapper
// ################################################################################################
// ################################################################################################
// ################################################################################################
.wrapper.row3
  main.hoc.container.clear
    // main body
    // ################################################################################################
    .group.excerpt
      article.one_third.first
        a.imgover.btmspace-30(href='#')
          img(src='/demo/c1.jpg' alt='')
        h6.heading Sweater Distribution
        p
          | Sweater Distribution for students at Primary and UPS - Mohan&mldr;
        footer
          a(href='#') Service Details &raquo;
      article.one_third
        a.imgover.btmspace-30(href='#')
          img(src='/demo/c2.jpg' alt='')
        h6.heading Blanket Distribution
        p
          | Blanket Distribution to needy person in the various locations of Lucknow in the 1st week of Jan 2018.&mldr;
        footer
          a(href='#') Service Details &raquo;
      article.one_third
        a.imgover.btmspace-30(href='#')
          img(src='/demo/c3.jpg' alt='')
        h6.heading Sai Bhandara
        p
          | Sai Bhandara at Firestation 29-03-2018. We got blessings of arround 4500 devotees who took prasad there, Hazaratganj, Lucknow.&mldr;
        footer
          a(href='#') Service Details &raquo;
    // ################################################################################################
    // / main body
    .clear
// ################################################################################################
// ################################################################################################
// ################################################################################################

  
.wrapper.row2.bgded.overlay(style="background-image:url('/demo/images.jpeg');")
  section.hoc.container.clear.testimonials
    // ################################################################################################
    .sectiontitle
      h6.heading Team KIRAN
    ul.nospace.group.btmspace-80
      li.one_third.first
        blockquote
          | In a country with diversities like ours’ the Bharat ie India the financial diversities are very important as regards development of it is concerned.
        figure.clear
          img(src='/demo/founder.png' alt='')
          figcaption
            h6.heading Kiran Srivastava
            em Founder
      li.one_third
        blockquote
          | Bhagwan-the Generator, Observer & Destroyer of the universe after making the earth asked his Kiran to enlighten everything present on it.
        figure.clear
          img(src='/demo/secretary.png' alt='')
          figcaption
            h6.heading Dr. P.S Srivastava
            em Secretary
      li.one_third
        blockquote
          | It's a collective initiatative for the upliftment of the necessitous children in an underprivileged state of living. It's an organisation of "DOING GOOD".
        figure.clear
         img(src='/demo/coordinator_s.png' alt='')
         figcaption
           h6.heading Vishal Srivastava
           em Co-ordinator
    footer.center
      a.btn(href='#') View More &raquo;
    // ################################################################################################
// ################################################################################################
// ################################################################################################
// ################################################################################################
    // ################################################################################################
// ################################################################################################
// ################################################################################################
// ################################################################################################
section.hoc.cta.clear
.wrapper.row2.bgded.overlay(style="background-image:url('/demos/images.png');")

  
  section.hoc.cta.clear
    // ################################################################################################
    .sectiontitle
      h6.heading Connect With Us
      p If any Query please fill the form
        
      
      form(method='post' action='#')
        fieldset
          legend Newsletter:
          input(type='text' value='' placeholder='Type your query…')  
    form(method='post' action='#')
      fieldset
        legend Newsletter:
        input.btmspace-15(type='text' value='' placeholder='Enter Your Email Here…')
        button(type='submit' value='submit') Submit
    // ################################################################################################
// ################################################################################################
// ################################################################################################
// ################################################################################################
.wrapper.row4
  footer#footer.hoc.clear
    // ################################################################################################
    article.one_third.first
      
    .one_third
      h6.heading Reach Us
      ul.nospace.btmspace-30.linklist.contact
        li
          i.fa.fa-map-marker
          address
            | Kiran Foundation, E 2698, Rajaji Puram, Lucknow
        li
          i.fa.fa-phone
          |  +91 860 170 0251
        li
          i.fa.fa-envelope-o
          |  info@kiranfoundation.co.in
      ul.faico.clear
        li
          a.faicon-facebook(href='https://www.facebook.com/KIRANfoundationlko/' target='_blank')
            i.fa.fa-facebook
        li
          a.faicon-linkedin(href='#')
            i.fa.fa-linkedin
    .one_third
      h6.heading Quick Links
      ul.nospace.linklist
        li
          a(href='#') Your offerings
        li
          a(href='#') About Us
        li
          a(href='#') Team Kiran
        li
          a(href='#') Gallery
        li
          a(href='#') Contact Us
    
    
    // ################################################################################################
// ################################################################################################
// ################################################################################################
// ################################################################################################
.wrapper.row5
  #copyright.hoc.clear
    // ################################################################################################
    p.fl_left
      | Copyright &copy; 2018 - All Rights Reserved
    p.fl_right
      | Created with love by :
      a(target='_blank' href='www.github.com/20Aditya' title='Free Website Templates') Aditya Chandel
    // ################################################################################################
// ################################################################################################
// ################################################################################################
// ################################################################################################
a#backtotop(href='#top')
  i.fa.fa-chevron-up
// JAVASCRIPTS
script(src='layout/scripts/jquery.min.js')
script(src='layout/scripts/jquery.backtotop.js')
script(src='layout/scripts/jquery.mobilemenu.js')
